@mixin click-btn {
  .plus {
    width: 35px;
    height: 35px;
    background: #696969;
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
  }

  .plus:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background: white;
  }

  .plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 2px;
    background: white;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
